.contitreart{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: no-repeat center  url(../asset/img/BannierArticle.jpg);
}

.conteneurart {
    display: flex;
    flex-direction: column;
}

.conteneurpara {
    width: 75%;
    font-size: 2em;
    margin: auto;
    border: 5px solid black;
    border-radius: 8px;
    margin: 2rem auto;
    padding: 1rem;
}

.conteneurpara a {
    color: black;
}
.conteneurpara a:hover{
    text-decoration: underline;
}

.contimgart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.contimgart img{
    width: 100%;
    max-width: 700px;
}

.imgart {
    width: 100%;
}

@media screen and (max-width:1938px){
    .contimgart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imgart {
        width: 550px;
        margin: auto;
    }
}

@media screen and (max-width:938px){
    .contitreart{
        font-size: 2rem;
    }
    .conteneurpara {
        width: 95%;
        font-size: 1.5em;
        margin: 2rem auto;
        border: 5px solid black;
        border-radius: 8px;
        padding: 1rem;
    }

    .imgart{
        width: 100%;
    }

    .contimgart{
        width: 100%;
    }
}

